@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Raleway:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', Courier, monospace;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: rgba(33, 37, 41, 1);
    padding: 2rem;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), black), url(./img/sign-up-bg.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    --gutter-x: 1.5rem;
    width: 100%;
    padding-right: var(--gutter-x, .5rem);
    padding-left: var(--gutter-x, .5rem);
    margin: 0 auto;
    padding-top: calc(var(--gutter-x) * 3);
}

@media (min-width: 36rem) {
    .container {
        max-width: 33.75rem;
    }
}

@media (min-width: 48rem) {
    .container {
        max-width: 62rem;
    }
}


.contact {
    position: relative;
    background-image: none;
    /* background-color: hsl(300, 37%, 43%); */
    background-color: whitesmoke;
    background-size: cover;
    width: 100%;
    box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.8);

}

@media (min-width: 62rem) {
    .contact {
        background-image: linear-gradient(105deg,
                                         rgba(255, 255, 255, 0.9) 0%, /*define white at beginning(0%)*/
                                         rgba(255, 255, 255, 0.9) 50%, /*efine white in the middle (50%) to have splitted design*/
                                         transparent 50%),  /*define how both side merge */
                                         url(./img/keyboard.jpg);
        background-size: cover;
    }
}

h1 {
    font-size: 2rem;
    font-family:'Raleway', Times, serif;
    position: absolute;
    transform: rotate(0);
    top: 0;
    left: 0;
    margin-bottom: 2rem;
    padding: 3rem 2rem;

}

@media (min-width: 62rem) {
    h1 {
        bottom: 0;
        right: 50%;
        top: 50%;
        transform: translateX(-8%);
        font-size: 4rem;
        position: absolute;
        font-family: 'Raleway', Times, serif;
        transform: rotate(-37deg) translate(80%, 110%);
        color: rgba(128, 0, 128, 0.2);
    }
}
/* form elements */
.contact__form-wrapper {
    width: 100%;
    padding: 8rem 2rem 3.5rem;
}

@media (min-width: 62rem) {
    .contact__form-wrapper {
        width: 50%;
        padding: 3rem 2rem;
    }
}

.form-group {
    margin-bottom: 2.5rem;
    position: relative;
}

.form-group > * {
    display: block;
    width: 100%;
    transition: all 0.4s;
}

.form-group .form-label {
    position: absolute;
    top: -1.5rem;
}

.btn {
    padding: 0.5rem 0.75rem;
    font-size: 1.15em;
    letter-spacing: 1;
    background-color: rgba(255, 69, 0, 0.5);
    border-radius: 3px;
    display: block;
    width: 100%;
    color: white;
    border: 2px solid transparent;
    font-family:'Raleway', Times, serif;
    cursor: pointer;
    transition: all 0.4s;
}

button:disabled,
button[disabled] {
    background-color: lightgray;
    cursor: not-allowed;
    pointer-events:none;
    color: rgba(84, 84, 84, 0.5);
}

@media (min-width: 62rem) {
    .btn {
        width: 50%;
    }
}

.btn:hover,
.btn:focus {
    background-color: rgba(255, 69, 0, 1);
}

/* warnings states */
.form-group.success .form-control{
    border-color: lightgreen;
}
.form-group.error .form-control {
    border:1px solid orangered;
}
.form-group.error small{
    color: orangered;
}

/* if placeholder is shown, hide the label in -2px up */
.label--animated input:placeholder-shown + .form-label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(2rem);
}

.form-control {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 3px;
    border: 2px solid transparent;
}

.form-control:focus,
.btn:focus {
    outline: none;
    border: 2px solid lightgray;
}

/* Customized radio buttons */
.form-group.radios {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-group.checks .form-check:not(:last-child){
    margin-bottom: 1rem;
}

.radiobox--customized input[type="radio"],
.checkbox--customized input[type="checkbox"]{
    display: none;
}

.radiobox--customized input[type="radio"]:checked + label span.form-radio-button:after,
.checkbox--customized input[type="checkbox"]:checked + label span.form-check-button:after {
    opacity: 1;
}

.radiobox--customized label,
.checkbox--customized label {
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
}

.checkbox--customized label {
    display: flex;
    justify-content: flex-start;
}

.radiobox--customized span.form-radio-button {
    height: 1.5rem;
    width: 1.5rem;
    border: 3px solid rgb(84, 84, 84);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -0.15rem;
    left: 0;
}

.checkbox--customized span.form-check-button {
    height: 1.5rem;
    width: 1.5rem;
    border: 3px solid rgb(84, 84, 84);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.radiobox--customized span.form-radio-button:after,
.checkbox--customized span.form-check-button:after {
    content: "";
    display: block;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 50%;
    background-color:rgba(255, 69, 0, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.checkbox--customized span.form-check-button:after {
    border-radius: 0;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    color: white;
}

a {
    color: pink;
}